.filter {
    width: 375px;
    border-right: 1px solid #eee;
}

.title {
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding: 25px 50px;
}

.categories {
    padding: 20px 50px;
}

.subTitle {
    font-weight: bold;
    margin-bottom: 20px;
}