:root {
  --font-family: 'Roboto', sans-serif;
  --warning: #ffc426;
  --primary: #ff6b6b;
}

html, body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 1rem;
  color: #35393c;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input, button {
  font-size: 100%;
  font-family: var(--font-family);
  outline: none;
  border: none;
}

.mr-2 {
  margin-right: 0.5rem;
}