:root {
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 1rem;
  color: #35393c;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  font-size: 1rem;
  font-family: var(--font-family);
  cursor: pointer;
}

input {
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.header {
  border-bottom: 1px solid #eee;
  display: flex;
}

.logo {
  width: 375px;
}

.menu {
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.menu ul li {
  padding: 30px;
}

/*===== Content =====*/
.main {
  display: flex;
}

.product {
  width: 545px;
  border-left: 1px solid #eee;
}

.search {
  margin-bottom: 40px;
}

.input-search {
  background-color: #fafafa;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 100%;
  border: none;
  color: tomato;
  margin-bottom: 40px;
}

.keyword {
  font-weight: bold;
}