.header {
  border-bottom: 1px solid #eee;
}

.logo {
  display: flex;
  padding: 1rem;
}

.menu {
  font-weight: bold;
  color: gray;
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.menu ul li {
  padding: 1.5rem;
  cursor: pointer;
  border-bottom: 0.25rem solid transparent;
}

.menu ul li:hover {
  color: black;
  border-bottom: 0.25rem solid var(--primary);
}

.menu ul li.active {
  color: black;
  border-bottom: 0.25rem solid var(--primary);
}

.main {
  margin-bottom: 1rem;
}

.footer {
  border-top: 1px solid #eee;
  padding: 0.5rem;
  color: gray;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
  }

  .header {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .logo {
    width: 375px;
    padding: 0 2rem;
  }
}